:root {
  --color-primary: #5F7D54;      /* Hijau tua (tombol utama) */
  --color-primary2: #99b38f; 
  --color-secondary: #FDB750;    /* Oranye/Kuning (dekorasi) */
  --color-accent-red: #AB4E40;   /* Merah banner */
  --color-cream: #FFF8F2;        /* Warna cream */
  --color-text-dark: #1A1A1A;    /* Warna teks hampir hitam */
  --color-text-gray: #666666;    /* Warna teks deskripsi */
  --color-white: #ffffff;        /* Warna putih biasa*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--color-text-dark);
  background: #ffffff;
  scroll-behavior: smooth;
}