.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 2rem; 
  padding: 20px 5% 40px;
  background-color: var(--color-white);
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
  margin: auto;
}

.textContent {
  flex: 1;
  max-width: 60%; 
  z-index: 2;
}

.title {
  font-size: 3rem;
  line-height: 1.2;
  color: var(--color-accent-red);
  margin-bottom: 20px;
}

.highlight {
  color: var(--color-primary);
}

.description {
  font-size: 1.125rem;
  color: var(--color-text-gray);
  margin-bottom: 32px;
  line-height: 1.6;
  max-width: 90%;
}

.imageContent {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  position: relative;
  max-width: 35%;
}

.heroImage {
  width: 100%;
  max-width: 600px;
  width: 450px;
  height: auto;
  border-radius: 20px;
}

.imagePlaceholder {
  max-width: 500px;
  width: 100%;
  height: 500px;
  background-color: var(--color-primary2);
  border-radius: 50% 50% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column-reverse;
    padding-top: 100px;
    text-align: center;
    gap: 1rem;
  }

  .textContent {
    max-width: 100%;
    margin-top: 40px;
  }

  .imageContent {
    max-width: 100%;
    justify-content: center;
  }

  .description {
    margin: 0 auto 32px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
  
  .imagePlaceholder {
    height: 400px;
  }
}