.section {
    padding: 80px 5%;
    position: relative;
    background-color: #fff; 
    overflow: hidden;
}

.decorativeBg {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    
    /* Ukuran kontainer gambar */
    width: 100%;
    max-width: 1400px; 
    height: 1200px;    
    
    background-image: url('../../../../public/Blob.png'); 
    /* filter: invert(95%) sepia(5%) saturate(300%) hue-rotate(320deg) brightness(104%) contrast(101%); */
    filter: invert(93%) sepia(30%) saturate(325%) hue-rotate(334deg) brightness(105%) contrast(101%);
    /* filter: invert(84%) sepia(52%) saturate(1377%) hue-rotate(324deg) brightness(102%) contrast(98%); */

    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; /* Agar gambar selalu utuh terlihat */
    
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1; 
    max-width: 1200px;
    margin: 0 auto;
}

/* Bagian Mitra */
.partnersWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px; 
}

/* Bagian Fitur */
.featuresWrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Responsive */
@media (max-width: 768px) {
    .featuresWrapper {
        flex-direction: column;
        align-items: center;
    }
    .partnersWrapper {
        gap: 15px;
    }
}